* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; 
    font-family: 'Poppins', sans-serif;
    color: white;
}


/* NAVBAR */
.navbar {
    width: 100%;
    display: flex;
    gap: 160px;
    margin: 20px;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
     color:#7C3AED;
}

span {
    color: #fff;
}

.search input {
    background: #2a2a2a;
    border: none;
    padding: 6px 14px;
    color: white;
    border-radius: 2px;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
}

.nav-links a:hover {
    color: #C084FC;
}

/* HERO SECTION */
.hero {
    margin-left: 60px;   
     margin-top: 80px;
    max-width: 650px;
    padding: 30px; 
}

.intro {
    color:#7C3AED;
    font-size: 18px;
    margin-bottom: 10px;
}

h1 {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
}

h1 span {
    color: #7C3AED;
}

.hero article p {
    margin-top: 50px;
    color: #bbb;
    line-height: 1.7;
    font-size: 16px;
    padding: 20px;

}

/* SOCIAL ICONS */
.socials {
    margin-left:-100px;
    margin-top: 40px;
}

.socials img {
    width: 28px;
    /* margin-right: 20px; */
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.socials img:hover {
    opacity: 1;
    transform: scale(1.1);
}
/* ........bout......  */

/* RESET */
 *{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

 body {
    background-color: #0F0F14;
    font-family: 'Poppins', sans-serif;
     display: flex;
} 


#Aboutme {
    max-width: 600px;
    color: white;
    padding: 40px 80px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

   

#Aboutme h1 {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}


#Aboutme article {
    color: #D1D5DB;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 15px;
}


img {
    width: 350px;
    height: auto;
     border-radius: 12px;
     margin-left: 100px;
}




/* RESPONSIVE (important) */
@media (max-width: 900px) {
    body {
        flex-direction: column;
        text-align: center;
    }

    img {
        margin-top: 30px;
    }
}
 */
